@use 'var' as *;
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px 10/16 = 62.5
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
//FONTS
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
    font-size: 1.6rem;
    max-width: 100vw;
    height: 100vh;
    background-color: $body-bg;
    color: $main-color;
    overflow-x: hidden;
    font-family: 'Bakbak One', cursive;
}
