@use 'var' as *;
@use 'media' as *;
.btn-back {
    display: block;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 5rem;
    height: 5rem;
    background-image: url('../img/bmc-logo-yellow.png');
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3rem;
    outline: none;
    border: 0;
    transition: all 0.3s ease-in;
    &:hover,
    &:focus {
        background-image: url('../img/bmc-logo-yellow.png');
        @include medium-up {
            background-image: url('../img/bmc-logo.png');
        }
    }
    @include medium-up {
        font-size: 80%;
    }
}
