@use 'var' as *;
@use 'media' as *;
.btn-back {
    display: block;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: auto;
    height: 4rem;
    background-color: $grey-dark;
    padding: 1rem 2rem;
    cursor: pointer;
    outline: none;
    border: 0;
    box-shadow: 0 -0.5rem .5rem $grey-dark;
    border-radius: 2rem;
    font-family: 'Metropolis-ExtraLight', cursive;
    font-size: 100%;
    color: $main-color;
    text-transform: uppercase;
    line-height: 0;
    @include medium-up {
        font-size: 80%;
        bottom: 8rem;
        right: 4.5rem;
        height: 5rem;
    }
}
