@use 'var' as *;
@use 'media' as *;
.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 5rem;
    height: 5rem;
    background-color: $grey-dark;
    cursor: pointer;
    border-radius: 3rem;
    outline: none;
    border: 0;
    transition: all 0.3s ease-in;
    span {
        transition: all 0.3s ease-in;
        font-family: 'Metropolis-ExtraLight', cursive;
        font-size: 170%;
        margin-top: 0.4rem;
        margin-right: 0.2rem;
        color: $main-color;
        line-height: 0;
    }
    &:hover,
    &:focus {
        background-color: $main-color;
        span {
            color: $grey-dark;
        }
    }
    @include medium-up {
        font-size: 80%;
    }
}
