@use 'media' as *;
.container {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 7rem auto max-content;
    min-height: 100vh;
    max-width: 100vw;
    //overflow-x: hidden;
    position: relative;
    @include medium-up {
        font-size: 150%;
    }
}
