@use 'var' as *;
@use 'media' as *;
.footer {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    width: 100%;
    height: max-content;
    padding: 1rem 0;
    color: $main-color;
    justify-content: center;
    align-items: center;
    @include medium-up{
        height: 7rem;
        padding: 0;
    }
    p {
        display: block;
        font-size: 80%;
    }
}
