@use 'var' as *;
.footer {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    width: 100%;
    color: $main-color;
    justify-content: center;
    align-items: flex-end;
    p {
        display: block;
        border-top: 1px solid $grey-dark;
        padding: 1rem;
        font-size: 80%;
    }
}
