@use 'var' as *;
@use 'media' as *;

.gall {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    width: 100%;
    height: auto;
    &--h {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 7rem);
        z-index: 1;
        background: url('~/assets/img/IMG_3866.jpg') no-repeat center;
        background-size: cover;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: calc(100vh - 7rem);
            background-image: radial-gradient(
                hsl(0deg 0% 0% / 62%),
                hsl(0deg 0% 0%)
            );
            background-size: cover;
            z-index: 2;
        }
        h1,
        h3 {
            text-align: center;
            z-index: 3;
        }
        h3 {
            color: $a-color-active;
        }
    }
    &--images {
        position: relative;
        width: 100vw;
        margin: 0 auto;
        height: auto;
        padding: 4rem 0;
        background: url('~/assets/img/IMG_3860.jpg') no-repeat center;
        background-size: cover;
        z-index: 2;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: auto;
            background-image: radial-gradient(
                hsl(0deg 0% 0% / 62%),
                hsl(0deg 0% 0%)
            );
            background-size: cover;
            z-index: 2;
        }
        @include medium-up {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include tablet-landscape-up {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-wrapper {
            height: 20rem;
            width: 35rem;
            margin: 0 auto;
            position: relative;
            color: $a-color-active;
            cursor: pointer;
            background-color: $main-color;
            border-radius: 1rem 1.5rem 1.5rem 7rem;
            box-shadow: 0px -10px 20px #000;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            z-index: 3;
            h3 {
                padding: 0 0.7rem;
                font-size: 90%;
                position: absolute;
                left: 0;
                bottom: 4.5rem;
                height: 70%;
                text-align: center;
            }
            @include medium-up {
                width: 60rem;
                height: 35rem;
                h3 {
                    bottom: 6.5rem;
                    padding: 0 1rem;
                    font-size: 100%;
                }
            }
            @include tablet-portrait-up {
                height: 30rem;
                width: 53rem;
                h3 {
                    bottom: 5rem;
                    padding: 0 1rem;
                    font-size: 125%;
                }
            }
            @include tablet-landscape-up {
                height: 25rem;
                width: 45rem;
                h3 {
                    padding: 0 1rem;
                    font-size: 130%;
                    height: 80%;
                }
            }
            img {
                height: 100%;
                width: max-content;
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;
                border-radius: 0 1rem 1rem 7rem;
                box-shadow: -10px 0px 15px #000;
                line-height: 50px;
                text-align: center;
                z-index: 3;
            }
        }
    }
}
div {
    grid-column: 1/-1;
    grid-row: 2;
    margin: 0 auto;
    .images-show {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h1{
            display: block;
            width: 100vw;
            text-align: center;
            margin: 3rem 0;
        }
        @include gallery {
            flex-direction: row;
        }
        figure {
            line-height: 0;
            background-color: transparent;
            flex: 100%;
            max-width: 100%;
            @include medium-up {
                flex: 25%;
            }
            @include tablet-landscape-up {
                flex: 30%;
            }
            @include tablet-portrait-up {
                flex: 35%;
            }
            img {
                width: 100%;
                vertical-align: bottom;
                line-height: 120px;
            }
        }
    }
}
