@use 'var' as *;
@use 'media' as *;
.gear {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-image: radial-gradient(
            hsl(0deg 0% 0% / 42%),
            hsl(0deg 0% 0%)
        );
        background-size: cover;
        z-index: 2;
    }
    &--h1 {
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: url('../img/cupra.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    h1 {
        text-align: center;
        padding: 2rem 0;
        z-index: 3;
    }
    &--content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        background-image: url('../img/cupra_01.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        @include medium-up {
            flex-direction: row;
        }

        &-box {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 0 6rem 0;
            z-index: 3;
            :not(:last-child, :first-child) {
                margin-bottom: 0.5rem;
            }
            h2,
            h4,
            p {
                width: 30rem;
                height: max-content;
                margin: 0 auto;
                padding-left: 1rem;
                padding-right: 1rem;
                font-weight: bold;
                color: $grey-dark;
                background-color: $main-color;
                @include phone-only {
                    width: 70%;
                }
            }
            p {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            h2 {
                margin-bottom: 3rem;
            }
            h4 {
                display: block;
                margin: 0.5rem auto;
                color: $a-color-active;
                cursor: pointer;
                span {
                    width: max-content;
                    height: max-content;
                    color: $grey-dark;
                    float: right;
                }
            }
        }
    }
}
