@use 'var' as *;
@use 'media' as *;
.home {
    grid-column: 1 / -1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: -10rem;
        right: -13rem;
        width: 20rem;
        height: 30rem;
        background: linear-gradient(#000000, #ffffff);
        opacity: 0.1;
        transform: rotate(-30deg);
    }

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: -10rem;
            left: -20rem;
            width: 20rem;
            height: 30rem;
            background: linear-gradient(#000000, #ffffff);
            opacity: 0.1;
            transform: rotate(-30deg);
        }
        * {
            display: block;
        }
        :last-child {
            margin-bottom: auto;
        }
        &-h {
            width: 30rem;
            position: relative;
            margin: 3rem auto auto;
            letter-spacing: 0.4rem;
            z-index: 0;
            @include galaxy-fold {
                width: auto;
            }
            @include medium-up {
                width: auto;
                margin-top: 15rem;  
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $a-color-active;
                transform: rotate(10deg) skew(10deg);
                z-index: -1;
            }
            h1 {
                text-align: center;
                margin: 0;
                text-shadow: 1px 1px 2px $grey-dark;
            }
            h2 {
                margin: 0 auto;
                text-align: center;
                line-height: 2rem;
            }
        }
        p {
            text-align: center;
            margin: 2rem auto;
            font-size: 130%;
            word-spacing: 0.2rem;
            letter-spacing: 0.2rem;
            line-height: 145%;
            width: 27rem;
            @include galaxy-fold {
                font-size: 100%;
                width: 22rem;
            }
            @include medium-up {
                margin-top: 3rem;
                margin-bottom: 3rem;
                width: 31rem;
                font-size: 100%;
            }
        }
        &-dm {
            display: flex;
            padding: 3rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: max-content;
            @include medium-up {
                margin: 2rem 0;
            }
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    display: block;
                    width: max-content;
                    height: auto;
                    font-size: 100%;
                    margin-left: 2rem;
                    text-decoration: underline;
                }
            }
            .icon-insta {
                display: block;
                position: relative;
                width: max-content;
                height: auto;
                text-align: left;
                font-size: 250%;
                background: linear-gradient(
                    45deg,
                    #405de6,
                    #5851db,
                    #833ab4,
                    #c13584,
                    #e1306c,
                    #fd1d1d
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            a {
                letter-spacing: 0.2rem;
            }
            span {
                margin-bottom: 0 !important;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0.5rem;
            position: relative;
            width: 28rem;
            height: 5rem;
            font-size: 130%;
            background-color: $a-color-active;
            border: none;
            overflow: hidden;
            border-radius: 4rem;
            letter-spacing: 0.2rem;
            @include galaxy-fold {
                width: 22rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: -6rem;
                right: 0;
                width: 50%;
                height: 400%;
                background-color: $main-color;
                opacity: 0.1;
                transform: rotate(40deg);
            }
        }
    }
}
.bg {
    grid-column: 1 / -1;
    grid-row: 2;
    display: block;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url('../img/IMG_2209.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(
            hsl(0deg 0% 0% / 42%),
            hsl(0deg 0% 0%)
        );
        background-size: cover;
    }
}
