.logo {
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 1rem 2rem;
    background-image: url('../img/clashofcars182.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}
