.logo {
    grid-column: 1 / -1;
    grid-row: 1;
    display: block;
    height: auto;
    width: 4rem;
    margin: 2rem 3rem;
    z-index: 1;
    background-image: url('../img/clashofcars182.png');
    background-repeat: no-repeat;
    background-size: cover;
}