//BG   -COLOR
$body-bg: hsl(0, 0%, 10%);
// FONT - COLOR
$main-color: hsl(0, 0%, 100%);
$main-color-blk: hsl(0, 0%, 15%);
$a-color-active: hsl(0, 61%, 34%);
$grey-dark: hsl(0, 0%, 15%);
$grey-dark-font: hsl(0, 0%, 35%);